path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

{% if not redelk_limited_install %}
network.bind_host: ["127.0.0.1","192.168.254.1"]
bootstrap.memory_lock: true
discovery.type: "single-node"
{% endif %}

xpack.security.enabled: true

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key:  /etc/elasticsearch/{{ ansible_hostname }}.key
xpack.security.http.ssl.certificate: /etc/elasticsearch/{{ ansible_hostname }}.crt
xpack.security.http.ssl.certificate_authorities: [ "/etc/elasticsearch/redelkCA.crt" ]
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key:  /etc/elasticsearch/{{ ansible_hostname }}.key
xpack.security.transport.ssl.certificate: /etc/elasticsearch/{{ ansible_hostname }}.crt
xpack.security.transport.ssl.certificate_authorities: [ "/etc/elasticsearch/redelkCA.crt" ]

xpack.security.authc.realms.native.native1.order: 0

xpack.monitoring.collection.enabled: true
