{
    "DEBUG": "0",
    "external_domain": "{{ external_domain }}",
    "le_email": "{{ le_email }}",
    "Verbosity": "{{ redelk_alarm_Verbosity }}",
    "interval": {{ redelk_alarm_interval }},
    "tempDir": "{{ redelk_alarm_tempDir }}",
    "es_connection": [
        "https://{{ es_redelk_user }}:{{ es_redelk_password }}@redelk-elasticsearch:9200"
    ],
    "notifications": {{ redelk_notifications | to_nice_json(indent=8) }},
    "alarms": {{ redelk_alarms | to_nice_json(indent=8) }}
}
