{
  "Verbosity":"{{ redelk_alarm_Verbosity }}",
  "interval":"{{ redelk_alarm_interval }}",
  "vt_apikey":"{{ redelk_alarm_vt_apikey }}",
  "ibm_BasicAuth":"{{ redelk_alarm_ibm_BasicAuth }}",
  "HybridAnalysisAPIKEY":"{{ redelk_alarm_HybridAnalysisAPIKEY }}",
  "smtpSrv":"{{ redelk_alarm_smtpSrv }}",
  "smtpPort":"{{ redelk_alarm_smtpPort }}",
  "smtpName":"{{ redelk_alarm_smtpName }}",
  "smtpPass":"{{ redelk_alarm_smtpPass }}",
  "fromAddr":"{{ redelk_alarm_fromAddr }}",
  "toAddrs":["{{ redelk_alarm_toAddr }}"],
  "tempDir":"{{ redelk_alarm_tempDir }}",
  "msTeamsWebhookURL":"{{ redelk_alarm_msteams_webhook_url }}",

  "es_connection": [
    "https://{{ es_redelk_user }}:{{ es_redelk_password }}@localhost:9200"
  ],
  "notifications": {
    "email": {
      "enabled": true,
      "smtp": {
        "host": "{{ redelk_alarm_smtpSrv }}",
        "port": {{ redelk_alarm_smtpPort }},
        "login": "{{redelk_alarm_smtpName }}",
        "pass": "{{ redelk_alarm_smtpPass }}"
      },
      "from": "{{ redelk_alarm_fromAddr }}",
      "to": [ "{{ redelk_alarm_toAddr }}" ]
    },
    "msteams": {
      "enabled": true,
      "webhook_url": "{{ redelk_alarm_msteams_webhook_url }}"
    },
    "slack": {
      "enabled": true,
      "webhook_url": "{{ redelk_alarm_slack_webhook_url }}"
    }
  }
}
