{
 "Verbosity":"{{redelk_alarm_Verbosity}}",
 "interval":"{{redelk_alarm_interval}}",
 "vt_apikey":"{{redelk_alarm_vt_apikey}}",
 "ibm_BasicAuth":"{{redelk_alarm_ibm_BasicAuth}}",
 "HybridAnalysisAPIKEY":"{{redelk_alarm_HybridAnalysisAPIKEY}}",
 "smtpSrv":"{{redelk_alarm_smtpSrv}}",
 "smtpPort":"{{redelk_alarm_smtpPort}}",
 "smtpName":"{{redelk_alarm_smtpName}}",
 "smtpPass":"{{redelk_alarm_smtpPass}}",
 "fromAddr":"{{redelk_alarm_fromAddr}}",
 "toAddrs":["{{redelk_alarm_toAddr}}"],
 "tempDir":"{{redelk_alarm_tempDir}}",
 "msTeamsWebhookURL":"{{redelk_alarm_msteams_webhook_url}}"
}
