{% if monitor_hosts: %}
output {
  if [agent][type] == "auditbeat" {
    elasticsearch{
      hosts => ["localhost:9200"]
      sniffing => true
      manage_template => false
      ilm_enabled => true
      ilm_rollover_alias => "auditbeat-{{ es_version }}"
      ilm_policy => "auditbeat"
      template_name => "auditbeat-{{ es_version }}"
      user => ["redelk_ingest"]
      password => ["{{ es_redelk_ingest_password }}"]
      ssl => true
      cacert => "/etc/logstash/redelkCA.crt"
    }
  }
}
{% endif %}
