output {
  if [agent][type] == "filebeat" and ![c2][log][type] and ![infra][log][type] {
    if [@metadata][pipeline] {
      elasticsearch {
        hosts => ["localhost:9200"]
        sniffing => true
        manage_template => false
        ilm_enabled => true
        index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}-000001"
        pipeline => "%{[@metadata][pipeline]}"
        user => ["redelk_ingest"]
        password => ["{{ es_redelk_ingest_password }}"]
        ssl => true
        cacert => "/etc/logstash/redelkCA.crt"
      }
    } else {
      elasticsearch {
        hosts => ["localhost:9200"]
        sniffing => true
        manage_template => false
        ilm_enabled => true
        index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}-000001"
        user => ["redelk_ingest"]
        password => ["{{ es_redelk_ingest_password }}"]
        ssl => true
        cacert => "/etc/logstash/redelkCA.crt"
      }
    }
  }
}
