{% if monitor_hosts: %}
output {
  if [agent][type] == "filebeat" and ![c2][log][type] and ![infra][log][type] {
    if [@metadata][pipeline] {
      elasticsearch {
        hosts => ["localhost:9200"]
        sniffing => true
        manage_template => false
        ilm_enabled => true
        ilm_rollover_alias => "filebeat-{{ es_version }}"
        ilm_policy => "filebeat"
        template_name => "filebeat-{{ es_version }}"
        pipeline => "%{[@metadata][pipeline]}"
        user => ["redelk_ingest"]
        password => ["{{ es_redelk_ingest_password }}"]
        ssl => true
        cacert => "/etc/logstash/redelkCA.crt"
      }
    } else {
      elasticsearch {
        hosts => ["localhost:9200"]
        sniffing => true
        manage_template => false
        ilm_enabled => true
        ilm_rollover_alias => "filebeat-{{ es_version }}"
        ilm_policy => "filebeat"
        template_name => "filebeat-{{ es_version }}"
        user => ["redelk_ingest"]
        password => ["{{ es_redelk_ingest_password }}"]
        ssl => true
        cacert => "/etc/logstash/redelkCA.crt"
      }
    }
  }
}
{% endif %}
