{% if monitor_hosts: %}
output {
  if ([@metadata][beat] == "apm") {
    elasticsearch{
      hosts => ["localhost:9200"]
      sniffing => true
      manage_template => false
      ilm_enabled => true
      ilm_rollover_alias => "apm-{{ es_version }}"
      ilm_policy => "apm"
      template_name => "apm-{{ es_version }}"
      user => ["redelk_ingest"]
      password => ["{{ es_redelk_ingest_password }}"]
      ssl => true
      cacert => "/etc/logstash/redelkCA.crt"
    }
  }
}
{% endif %}
