output {
  if ([@metadata][beat] == "nagioscheckbeat") {
    elasticsearch{
      hosts => ["localhost:9200"]
      sniffing => true
      manage_template => false
      ilm_enabled => false
      index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}-000001"
      user => ["redelk_ingest"]
      password => ["{{ es_redelk_ingest_password }}"]
      ssl => true
      cacert => "/etc/logstash/redelkCA.crt"
    }
  }
}
